<!--header-->

<!--<div class="container text-center mt-3" *ngIf="error">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <img src="/assets/images/house_not_found.svg" class="img-fluid" />
    </div>
  </div>

  <h3>Cannot fetch property details</h3>
</div>
<div class="container my-3" *ngIf="!error && property !== null">
  <nav class="top-bar">
    <div class="mr-4" (click)="onBack()">
      <img src="/assets/icons/arrow-back.svg" /> Search
    </div>
    <div
      class="mr-4"
      [ngClass]="{ active: currentView === 0 }"
      (click)="setCurrentView(0)"
    >
      <img src="/assets/icons/image.svg" />Images
    </div>
    <div
      class="mr-4"
      [ngClass]="{ active: currentView === 1 }"
      (click)="setCurrentView(1)"
    >
      <img src="/assets/icons/3d.svg" /> 3D View
    </div>
    <div
      class="mr-4"
      [ngClass]="{ active: currentView === 2 }"
      (click)="setCurrentView(2)"
    >
      <img src="/assets/icons/streetview.svg" />Street View
    </div>
  </nav>

  <div [ngSwitch]="currentView" class="mt-3">
    <app-property-information-images
      *ngSwitchCase="0"
    ></app-property-information-images>
    <app-property-information-virtual-view
      *ngSwitchCase="1"
    ></app-property-information-virtual-view>
    <app-property-information-street-view
      *ngSwitchCase="2"
    ></app-property-information-street-view>
  </div>

  <div *ngIf="currentView==0 " class="row">
    <div class="col-12 col-lg-8">
      <app-property-information-details
        [data]="property"
      ></app-property-information-details>
    </div>
    <div class="col-12 col-lg-4 mt-2">
      <div class="text-center h3"><b>Nearby Similar Homes</b></div>
      <app-property-information-nearby-cards
        [address]="property.address"
        [area]="0.95 * property.area"
        [price]="0.9 * property.price"
        [baths]="property.bathrooms - 1"
        [beds]="property.bedrooms - 1"
      ></app-property-information-nearby-cards
      ><app-property-information-nearby-cards
        [address]="property.address"
        [area]="1.02 * property.area"
        [price]="1.2 * property.price"
        [baths]="property.bathrooms + 1"
        [beds]="property.bedrooms + 2"
      ></app-property-information-nearby-cards>
    </div>
  </div>
</div> -->

<!-- <div style="display: flex; width: 100%; border: 1px solid; height: 300px">
  <div style="width: 70%">image</div>
  <div style="border: 1px solid">
    <div style="display: flex">
      <div style="border: 1px solid; width: 150px; height: 150px">image</div>
      <div style="border: 1px solid; width: 150px; height: 150px">image</div>
    </div>
    <div style="display: flex">
      <div style="border: 1px solid; width: 150px; height: 150px">image</div>
      <div style="border: 1px solid; width: 150px; height: 150px">image</div>
    </div>
  </div>
</div> -->

<app-landing-header></app-landing-header>

<div class="card" *ngIf="property">
  <p-tabView styleClass="tabview-custom" [(activeIndex)]="activeIndex">
    <p-tabPanel header="Header III">
      <ng-template pTemplate="header">
        <a (click)="onBack()"
          ><i class="pi pi-chevron-left"></i> <span>&ensp;Back</span></a
        >
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-info-circle"></i>
        <span>&ensp;Detail</span>
      </ng-template>
      <app-property-information-images
        [images]="property.images"
      ></app-property-information-images>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <i class="pi pi-eye"></i>
        <span>&ensp;VR</span>
      </ng-template>
      <app-property-information-virtual-view [virtualTourUrl]="property.virtualTourUrl"></app-property-information-virtual-view>
    </p-tabPanel>
  </p-tabView>
</div>

<app-property-information-details
  *ngIf="property && activeIndex !== 2"
  [data]="property"
></app-property-information-details>

<app-landing-footer></app-landing-footer>
