<app-landing-header></app-landing-header>

<div class="p-grid">
  <div class="p-col-12 p-lg-4 p-px-5 p-lg-offset-2">
    <div class="p-fluid p-mb-4">
      <h3>Password</h3>
      <p-password [(ngModel)]="password"></p-password>

      <h3>Confirm Password</h3>
      <p-password [(ngModel)]="confirmPassword"  [feedback]="false"></p-password>
    </div>
      <p-button label="Reset" (onClick)="resetPassword()" [disabled]="password.length === 0 || confirmPassword !== password" class="p-mt-5"></p-button>

  </div>
  <div class="p-col-6 p-d-none p-d-lg-block">
    <div class="coverimage">
      <img src="../../assets/images/account-log-page_41910-263.jpg" alt="">
    </div>
  </div>
</div>
