p-chip {
  cursor: pointer;
  .active {
    background-color: white;
  }
}

:host ::ng-deep .p-chip.active {
  background: #234e70;
  color: #fbf8be;
  transition: background-color 800ms ease-out, color 1000ms ease-out;
}

:host ::ng-deep .p-chip.chip {
  padding-left: 20px;
  padding-right: 20px;
}
