.font-large {
  font-size: 1.1em;
}

b {
  font-size: 1.15em;
}
p {
  font-size: 1.2em;
  text-align: justify;
}

.big-text {
  font-size: 1.5em;
}

.edit-button {
  background: #f37820;
  width: 5.5rem;
}

.edit-img {
  width: 1.3rem;
  height: 1.3rem;
  margin-top: -5px;
}

.delete-button {
  background: #f37820;
  width: 7rem;
}

.blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
