<!-- <div class="container property-rent-div">
  <p class="property-rent-heading">Properties on Rent</p>
  <hr />

  <div class="row">

    <div
      class="col-lg-3 col-md-4 col-sm-6"
      *ngFor="let property of list; let i = index"
    >
      <h3 *ngIf="property.propertyId == 0" class="card3">
        No Property is currently available in this area
      </h3>

      <a
        *ngIf="property.propertyId != 0"
        class="card3"
        (click)="showProperty(i)"
      >
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
          alt="Card image cap"
        />
        <h5>Price: {{ property.price | currency: "INR" }}</h5>
        <p class="card-subtitle mb-2">{{ property.address }}</p>
        <p class="card-subtitle mb-2">{{ property.built_year }}</p>
        <p class="card-subtitle mb-2">{{ property.ownerEmail }}</p>
        <div class="icon">
          <span
            style="background-image: url(../../assets/icons/bed_black_24dp.svg)"
            >{{ property.bedrooms }}</span
          >
          <span
            style="
              background-image: url(../../assets/icons/bathtub_black_24dp.svg);
            "
            >{{ property.bathrooms }}</span
          >
          <span
            style="
              background-image: url(../../assets/icons/square_foot_black_24dp.svg);
            "
            >{{ property.area }}</span
          >
        </div>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
          <div class="go-arrow">→</div>
        </div>
      </a>
    </div>
  </div>
</div> -->

<p class="property-rent-heading">Properties on Rent</p>
<hr />
<p-paginator
  (onPageChange)="paginate($event)"
  [rows]="10"
  [totalRecords]="totalResults"
  *ngIf="totalResults > 10"
></p-paginator>
<br />
<div class="p-grid" style="padding: 2%; padding-top: 0%">
  <div
    *ngIf="list.length == 0"
    class="p-col-12 card"
    style="height: 25vh; text-align: center; box-shadow: none"
  >
    <h1 style="text-align: center">No Property is listed in this Area</h1>
  </div>
  <div
    class="p-lg-5 p-md-11 p-sm-12 card"
    *ngFor="let property of list; let i = index"
  >
    <div
      (click)="showProperty(i)"
      *ngIf="list[0].propertyId != 0"
      class="p-grid"
    >
      <div *ngIf="list.length > 0" class="p-col-4 image">
        <img [src]="property.image" />
      </div>
      <div class="p-col-8">
        <h1>Price: {{ property.price | currency: "INR" }}</h1>
        <h2>{{ property.address }}</h2>
        <h2>{{ property.type }}</h2>
        <hr />
        <div class="p-grid">
          <div
            class="p-col-4"
            style="background-image: url(../../assets/icons/bed_black_24dp.svg)"
          >
            {{ property.bedrooms }}
          </div>
          <div
            class="p-col-4"
            style="
              background-image: url(../../assets/icons/bathtub_black_24dp.svg);
            "
          >
            {{ property.bathrooms }}
          </div>
          <div
            class="p-col-4"
            style="
              background-image: url(../../assets/icons/square_foot_black_24dp.svg);
            "
          >
            {{ property.area }}
          </div>
        </div>
        <div style="text-align: right; font-size: 1rem; padding-top: 5%">
          <b style="padding-right: 5px">Built: {{ property.built_year }}</b>
        </div>
      </div>
    </div>
  </div>
</div>
