<div class="card">
  <h3>(Optional)</h3>
  <p-fileUpload
    [customUpload]="true"
    [multiple]="true"
    [showCancelButton]="false"
    [showUploadButton]="false"
    (onSelect)="addFile($event)"
    [files]="propertyData.images"
    (onRemove)="handleRemove($event)"
    accept="image/*"
  >
    <ng-template pTemplate="content">
      <div *ngIf="propertyData.images.length === 0">
        <div class="p-grid">
          <div class="p-col-5 p-pl-3">
            <img src="assets/images/upload.svg" style="width: 100%" />
          </div>
          <div class="p-col-7 p-text-center p-m-auto">
            <h3>Drag Images here</h3>
            <h3>or</h3>
            <h3>click on Choose button</h3>
          </div>
        </div>
      </div>
    </ng-template>
  </p-fileUpload>
</div>
