<!-- <div class="bg-light">
  <app-property-search-header></app-property-search-header>

  <div class="container" style="margin-top: 3%">
    <ul class="nav nav-tabs" style="margin-bottom: 2%">
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="myChoice == 'all'"
          (click)="showAll()"
          style="cursor: pointer"
          >ALL</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="myChoice == 'sell'"
          (click)="showBuy()"
          style="cursor: pointer"
          >BUY</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="myChoice == 'rent'"
          (click)="showRent()"
          style="cursor: pointer"
          >RENT</a
        >
      </li>
    </ul>

    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <iframe
          [src]="mapSrc | safe"
          width="100%"
          height="430"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        >
        </iframe>
      </div>


      <div class="col-lg-4 col-md-12 col-sm-12">
        <div
          class="card"
          style="border-radius: 0; border: 0; background: #f8f9fa"
        >
          <img
            class="card-img-top"
            src="https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title" data-angular="address">
              {{ street }}
            </h5>
            <h5 class="card-title" data-angular="address">
              <b>{{ city }} {{ state }}</b>
            </h5>
            <p class="card-subtitle mb-2" data-angular="totalAvailability">
              <b>Total Availability :</b>
              {{
                list.length == 1 && list[0].propertyId == 0 ? 0 : list.length
              }}
            </p>
            <p class="card-subtitle mb-2" data-angular="propertyType">
              <b>Property Type :</b> {{ propertyType }}
            </p>
            <p class="card-text" data-angular="description">
              {{ cityDescription }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div *ngIf="list.length == 0" class="col-lg-3 col-md-4 col-sm-6">
        <h3 class="card3">No Property is currently available in this area</h3>
      </div>

      <div
        class="col-lg-3 col-md-4 col-sm-6"
        *ngFor="let property of list; let i = index"
      >
        <h3 *ngIf="property.propertyId == 0" class="card3">
          No Property is currently available in this area
        </h3>

        <a
          *ngIf="property.propertyId != 0"
          class="card3"
          (click)="showProperty(i)"
        >
          <img
            class="card-img-top"
            src="https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
            alt="Card image cap"
          />
          <h5>Price: {{ property.price | currency: "INR" }}</h5>
          <p class="card-subtitle mb-2">{{ property.address }}</p>
          <p class="card-subtitle mb-2">{{ property.built_year }}</p>
          <p class="card-subtitle mb-2">{{ property.ownerEmail }}</p>
          <div class="icon">
            <span
              style="
                background-image: url(../../assets/icons/bed_black_24dp.svg);
              "
              >{{ property.bedrooms }}</span
            >
            <span
              style="
                background-image: url(../../assets/icons/bathtub_black_24dp.svg);
              "
              >{{ property.bathrooms }}</span
            >
            <span
              style="
                background-image: url(../../assets/icons/square_foot_black_24dp.svg);
              "
              >{{ property.area }}</span
            >
          </div>
          <div class="dimmer"></div>
          <div class="go-corner" href="#">
            <div class="go-arrow">→</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div> -->

<app-property-search-header></app-property-search-header>

<div class="p-grid">
  <div class="p-lg-12 p-md-12 p-sm-12">
    <iframe
      [src]="mapSrc | safe"
      width="100%"
      height="350;"
      style="border-radius: 10px; border-color: white; border-style: solid"
      allowfullscreen=""
      loading="lazy"
    >
    </iframe>
  </div>
  <div class="p-lg-12 p-md-12 p-sm-12">
    <div [formGroup]="searchProperty" (ngSubmit)="handleSearchProperty()">
      <div class="searchbar p-grid">
        <!-- <input class="p-col-4" formControlName="state" type="text" placeholder="State"> -->

        <input
          type="text"
          list="states"
          formControlName="state"
          (input)="searchState($event)"
          class="p-col-4 input"
          placeholder="State"
        />
        <datalist class="input" id="states">
          <option *ngFor="let state of stateResult" [value]="state"></option>
        </datalist>

        <input
          type="text"
          list="cities"
          formControlName="city"
          (input)="searchCity($event)"
          class="p-col-4 input"
          placeholder="City"
        />
        <datalist class="input" id="cities">
          <option *ngFor="let city of cityResult" [value]="city"></option>
        </datalist>

        <input
          formControlName="street"
          class="input p-col-4"
          style="border-color: white"
          type="text"
          placeholder="Area"
        />
      </div>

      <div class="p-grid" style="margin-top: 4%">
        <select formControlName="for" class="p-col-3">
          <option selected>All</option>
          <option>Buy</option>
          <option>Rent</option>
        </select>

        <select formControlName="type" class="p-col-3">
          <option>All</option>
          <option>Home</option>
          <option>Flat</option>
          <option>Office</option>
        </select>
        <select
          style="cursor: pointer"
          class="p-lg-3 p-md-3 p-sm-5"
          (click)="toggleSlider($event)"
          (mousedown)="$event.preventDefault()"
        >
          <option value="" style="color: grey" disabled selected>Budget</option>
        </select>

        <button
          pButton
          type="submit"
          (click)="handleSearchProperty()"
          icon="pi pi-search"
          iconPos="right"
          class="p-col-1 p-button-text p-button-raised p-button-rounded"
        ></button>

        <ngx-slider
          *ngIf="activeSlider"
          style="margin-top: 10%"
          [(value)]="minPrice"
          [(highValue)]="maxPrice"
          [options]="options"
        ></ngx-slider>
      </div>

      <hr />

      <h4>Search Results : {{ totalResults }} Listings</h4>

      <p-paginator
        (onPageChange)="paginate($event)"
        [rows]="10"
        [totalRecords]="totalResults"
      ></p-paginator>
    </div>
  </div>
</div>

<div class="p-grid" style="padding: 2%; padding-top: 0%">
  <div
    *ngIf="list.length == 0"
    class="p-col-11 card"
    style="height: 25vh; text-align: center; box-shadow: none"
  >
    <h1 style="text-align: center">No Property is listed in this Area</h1>
  </div>
  <div
    class="p-lg-5 p-md-11 p-sm-12 card"
    *ngFor="let property of list; let i = index"
  >
    <div
      (click)="showProperty(i)"
      *ngIf="list[0].propertyId != 0"
      class="p-grid"
    >
      <div *ngIf="list.length > 0" class="p-col-4 image">
        <img style="height: 10rem" [src]="property.image" />
      </div>
      <div class="p-col-8" style="padding-left: 2rem">
        <h1>Price: {{ property.price | currency: "INR" }}</h1>
        <h2>{{ property.address }}</h2>
        <h2>{{ property.type }}</h2>
        <hr />
        <div class="p-grid">
          <div
            class="p-col-4"
            style="background-image: url(../../assets/icons/bed_black_24dp.svg)"
          >
            {{ property.bedrooms }}
          </div>
          <div
            class="p-col-4"
            style="
              background-image: url(../../assets/icons/bathtub_black_24dp.svg);
            "
          >
            {{ property.bathrooms }}
          </div>
          <div
            class="p-col-4"
            style="
              background-image: url(../../assets/icons/square_foot_black_24dp.svg);
            "
          >
            {{ property.area }}
          </div>
        </div>
        <div style="text-align: right; font-size: 1rem; padding-top: 5%">
          <b>Built: {{ property.built_year }}</b>
        </div>
      </div>
    </div>
  </div>
</div>

<app-landing-footer></app-landing-footer>
