// header {
//   width: 100%;
//   height: 35rem;
//   background-size: cover;
//   background-repeat: no-repeat;
// }

// .city-input {
//   width: 100%;
//   height: 2.5rem;
//   border: none;
//   border-right: 1px solid #f37820;
//   margin-top: 0.1rem;
//   //background-image: url(../../assets/icons/location-icon.svg);
//   background-repeat: no-repeat;
//   text-indent: 5px;
//   background-position-y: center;
// }

// .property-input {
//   background-image: url(../../assets/icons/home-icon.svg);
//   background-repeat: no-repeat;
// }

// .budget-input {
//   background-image: url(../../assets/icons/budget-icon.svg);
//   background-repeat: no-repeat;
// }

// input:focus,
// select:focus {
//   outline: none;
// }

// .landing-logo-size {
//   width: 2rem;
//   height: 2rem;
// }

// .landing-logo-name {
//   color: #f37820;
// }

// .toggle-button {
//   border: none;
// }

// .toggle-button-hamburger {
//   width: 1.5rem;
//   height: 1.5rem;
// }

// .login-button {
//   background: #f37820;
//   width: 5rem;
// }

// .logout-button {
//   background: #f37820;
//   width: 7rem;
// }

// .signup-button {
//   border: 1px solid #f37820;
//   color: #f37820;
//   width: 5rem;
// }

// .signup-button:hover {
//   background: #f37820;
//   color: white;
// }

// .searchbar-container {
//   padding-top: 40vh;
// }

// .searchbar {
//   // width: 1500px;
//   background: white;
//   border-radius: 6rem;
//   border: 2px solid #f37820;
// }

// .search-button {
//   background: #f37820;
//   border: none;
//   margin-top: 0.3rem;
//   border-radius: 7rem;
//   width: 95%;
//   height: 2rem;
//   margin-left: 0.5rem;
// }

// select {
//   -webkit-appearance: none;
// }

// select.round,
// input.round {
//   background-image: linear-gradient(45deg, transparent 50%, #f37820 50%),
//     linear-gradient(135deg, #f37820 50%, transparent 50%),
//     radial-gradient(#fb7 70%, transparent 72%);
//   background-position: calc(100% - 20px) calc(1em + 2px),
//     calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
//   background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
//   background-repeat: no-repeat;
// }

// select.round:focus,
// input.round:focus {
//   background-image: linear-gradient(45deg, white 50%, transparent 50%),
//     linear-gradient(135deg, transparent 50%, white 50%),
//     radial-gradient(#fb7 70%, transparent 72%);
//   background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
//     calc(100% - 0.5em) 0.5em;
//   background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
//   background-repeat: no-repeat;
//   border-color: green;
//   outline: 0;
// }

// .form-input-holder {
//   padding-right: 0;
//   display: flex !important;
// }

// input::-webkit-calendar-picker-indicator {
//   display: none;
// }


header {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.5px;
  div {
    cursor: pointer;
    div {
      // border-radius: 5px;
      // font-size: medium;
      div {
        border-style: solid;
        border-color: white;
        // margin-top: 20%;
        text-align: center;
      }
    }
  }
}
.btn {
  color: #234e70 !important;
  text-align: center !important;
  background-color: white !important;
  height: 5% !important;
  padding-left: 2%;

  // margin-top: 3% !important;
  // margin-left: 2% !important;
}

.button{

  text-align: center !important;
  background-color: #234e70 !important;
  height: 5% !important;
}

.btn:hover{
  color: #fbf8be !important;
  background-color: #234e70 !important;
  border-style: solid;
  border-color: #234e70 ;
}

.button:hover {
  background-color:  #fbf8be !important;
  color: #234e70 !important;
}


@media screen and (max-width:850px) {

  .header{
    display: none;
  }
  .headerrespo{
    display:block;
  }

}

@media screen and (min-width:850px) {

  .header{
    display: block;
  }
  .headerrespo{
    display:none;
  }

}

@media screen and (max-width:600px) {

  .btn{
    margin-left: -10%;
  }

}


@media screen and (max-width:850px) {

  .header{
    display: none;
  }
  .headerrespo{
    display:block;
  }

}

@media screen and (min-width:850px) {

  .header{
    display: block;
  }
  .headerrespo{
    display:none;
  }

}


