.landing-logo-size {
  width: 2rem;
  height: 2rem;
}

.landing-logo-name {
  color: #f37820;
}

.toggle-button {
  border: none;
}

.toggle-button-hamburger {
  width: 1.5rem;
  height: 1.5rem;
}

.create-property-heading-div {
  text-align: center;
}

.create-property-heading {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: #f37820;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-button-div {
  text-align: center;
}

.form-button {
  background: #f37820;
  border: none;
  width: 9rem;
  height: 3rem;
}
