// .property-rent-heading {
//   font-size: 1.6rem;
// }

// .property-rent-div {
//   margin-top: 2rem;
// }

// .go-corner {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: absolute;
//   width: 32px;
//   height: 32px;
//   overflow: hidden;
//   top: 0;
//   right: 0;
//   background-color: #f37820;
//   border-radius: 0 4px 0 32px;
// }

// .go-arrow {
//   margin-top: -4px;
//   margin-right: -4px;
//   color: white;
//   font-family: courier, sans;
// }

// .card3 {
//   display: block;
//   top: 0px;
//   position: relative;
//   max-width: 262px;
//   background-color: white;
//   border-radius: 4px;
//   padding: 32px 24px;
//   cursor: pointer;
//   margin-top: 17px;
//   text-decoration: none;
//   overflow: hidden;
//   border: 1px solid #f6f5f5;

//   .go-corner {
//     opacity: 0.7;
//   }

//   h5 {
//     padding-top: 10px;
//     color: rgba(240, 58, 58, 0.664);
//   }

//   .icon {
//     display: flex;
//     color: black;
//     font-size: smaller;
//     font-weight: 500;
//     justify-content: space-evenly;
//     align-items: center;
//     padding-top: 5%;
//     span {
//       background-repeat: no-repeat;
//       background-position: 20px;
//       background-position: left;
//       text-indent: 25px;
//       width: 200px;
//       color: black;
//     }
//   }

//   &:hover {
//     border: 1px solid #f6f5f5;
//     background-color: #f4f9f9;
//     // box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
//     z-index: 500;
//     transform: scale(1.05);
//     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
//   }
// }

// .card3:hover {
//   p {
//     color: #00838d;
//   }
//   h5 {
//     color: rgba(240, 58, 58, 0.938);
//   }
//   h6 {
//     color: #00838d;
//   }
//   .go-corner {
//     transition: opactiy 0.3s linear;
//     opacity: 1;
//   }
// }

div {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.5px;
  .card {
    height: fit-content;
    // background: rgb(230, 222, 248);
    // background: linear-gradient(
    //   0deg,
    //   rgb(192, 191, 194) 0%,
    //   rgb(243, 246, 247) 100%
    // );
    border: none;
    transform-style: preserve-3d;
    // border-radius: 30px;
    cursor: pointer;
    // padding: 0rem 5rem;
    margin-left: 3%;
    margin-top: 1%;
    box-shadow: 0 2px 2px rgba(235, 232, 232, 0.2),
      0px 0px 5px rgba(0, 0, 0, 0.2);

    div div img {
      width: 10rem;
      z-index: 2;
      transition: all 0.75s ease-out;
    }

    div div h1 {
      text-align: left;
      font-size: 1.5rem;
      // color: rgb(19, 2, 2);
      transition: all 0.75s ease-out;
    }

    div div h2 {
      font-size: 1rem;
      // padding: 1rem 0rem;
      font-weight: 500;
      transition: all 0s ease-out;
    }

    div {
      padding-left: 2%;
      .image {
        min-height: 35vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    div div hr {
      margin-top: 5%;
      height: 2px;
      border-style: solid;
      border-radius: 1px;
      border-color: whitesmoke;
      background-color: whitesmoke;
      background: whitesmoke;
    }

    div div div div {
      background-repeat: no-repeat;
      text-indent: 30%;
      background-position-y: center;
    }
  }

  // .card:hover{
  //   background-color: black;
  //   color: white;
  // }
}

@media screen and (max-width: 580px) {
  div {
    .card {
      div {
        div img {
          width: 6rem;
        }
      }
    }
  }
}
