<!--<div class="row">
  <div class="col-12 col-lg-8 p-lg-1">
    <img
      src="https://ssl.cdn-redfin.com/system_files/media/529194_JPG/item_3.jpg"
      alt="home image"
      class="img-fluid"
    />
  </div>
  <div class="col-12 col-lg-4 p-lg-1">
    <div class="row" style="height: 100%">
      <div class="col-6 col-lg-12 mt-1 mt-lg-0 pr-2 pr-lg-3">
        <img
          src="https://ssl.cdn-redfin.com/system_files/media/529194_JPG/item_6.jpg"
          alt="home image"
          class="img-fluid"
        />
      </div>
      <div class="col-6 col-lg-12 mt-1 pl-2 pl-lg-3">
        <img
          src="https://ssl.cdn-redfin.com/system_files/media/529194_JPG/item_7.jpg"
          alt="home image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>-->
<!--<p-galleria [value]="images" [responsiveOptions]="responsiveOptions"[containerStyle]="{width:'100%'}" [numVisible]="7" >
  <ng-template pTemplate="item" let-item>
      <img [src]="item.url" style="width: 100%; display: block;"/>
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
      <div class="p-grid p-nogutter p-justify-center">
          <img [src]="item.url" style="width: 100%"/>
      </div>
  </ng-template>
</p-galleria>-->

<div *ngIf="images.length === 0">
  <h2 class="p-text-center">No images available</h2>
</div>
<p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'width': '100%'}" [numVisible]="7"
    [circular]="true" [showItemNavigators]="true">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.url" style="width: 100%;height: 450px;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.url" style="width:80%" />
        </div>
    </ng-template>
</p-galleria>
