<app-landing-header></app-landing-header>

<body>
  <section class="p-grid" style="padding: 1% 1% 1% 1%">
    <div class="p-md-12 p-lg-7">
      <img src="../../assets/images/page.jpg" height="90%" width="100%" />
    </div>
    <div class="p-md-0 p-lg-5" style="padding-left: 5%">
      <h1 style="font-size: 285%">End Your Search Here !</h1>
      <h2 style="font-weight: 100; margin-top: -0.5rem">
        Find a home or space from our search bar.Enter your specific location,
        property type, and price range.You can also take the
        <b>Virtual Tour</b> for each property.
      </h2>
      <p (click)="search()" class="line typing">
        Find your dream property here <i class="pi pi-search"></i>
      </p>
    </div>
  </section>
</body>

<app-landing-info-card></app-landing-info-card>
<app-landing-footer></app-landing-footer>
