<a-scene #aScene embedded >
  <a-entity id="walls" #walls></a-entity>


  <!-- Sky -->
  <a-sky id="sky" color="#000000"></a-sky>
  <a-plane material="color: #FFF; color: #fff; repeat: 500 500" rotation="90 0 0" scale="500 500"
           position="0 7 0"></a-plane>

  <a-plane static-body material="src: /assets/floor/f3.jpg; repeat: 500 500" rotation="-90 0 0" scale="500 500" #floor></a-plane>

  <!-- This plane keeps the camera 1.6m above the ground -->
  <a-plane static-body material="color: white" rotation="-90 0 0" scale="500 500" position="0 1.6 0"
           visible="false" #floorUpper></a-plane>

  <a-entity
    id="player"
    camera
    wasd-controls
    look-controls
    kinematic-body
    listener
    position="0 1.6 0"
    height="1.6"
    #player
  >
    <a-cursor #cursor></a-cursor>
  </a-entity>
</a-scene>
<div class="p-d-flex p-justify-center p-py-2">
  <span class="p-mr-4">Mode: </span>
  <button
    pButton
    class="p-button-sm"
    [ngClass]="{'outline': mode !== 0}"
    (click)="mode = 0"
  >Wall Paint Color
  </button>
  <button
    pButton
    class="p-button-sm p-mx-3"
    [ngClass]="{'outline': mode !== 1}"
    (click)="mode = 1"
  >Wall Texture
  </button>
  <button
    pButton
    class="p-button-sm"
    [ngClass]="{'outline': mode !== 2}"
    (click)="mode = 2"
  >Floor Texture
  </button>
  <button
    pButton
    class="p-button-sm p-mx-3"
    [ngClass]="{'outline': mode !== 3}"
    (click)="mode = 3"
  >Floor Objects
  </button>

  <button
    pButton
    class="p-button-sm p-mr-3"
    [ngClass]="{'outline': mode !== 4}"
    (click)="mode = 4"
  >Wall Objects
  </button>

  <button
    pButton
    class="p-button-sm"
    [ngClass]="{'outline': mode !== 5}"
    (click)="mode = 5"
  >Remove Object
  </button>
</div>
<div *ngIf="mode === 0">
  <div class="p-grid">
    <div class="p-col-2 p-text-right">
      Color:
    </div>
    <div class="p-col-10">
      <p-colorPicker [(ngModel)]="wallColor"></p-colorPicker>
    </div>
  </div>
</div>

<!--Wall Texture-->
<div *ngIf="mode === 1" class="p-d-flex p-justify-around">
    <img
      [src]="texture.thumb"
      alt="Texture"
      *ngFor="let texture of houseModelService.wallTextures; let i = index;"
      (click)="houseModelService.selectedWallIndex = i"
      class="img-thumbnail"
      [ngClass]="{textureActive: houseModelService.selectedWallIndex === i}"
    >
</div>
<!--Floor Texture-->
<div *ngIf="mode === 2" class="p-d-flex p-justify-around">
  <img
    [src]="texture.thumb"
    alt="Texture"
    *ngFor="let texture of houseModelService.floorTextures; let i = index;"
    (click)="setFloorTextureIndex(i)"
    class="img-thumbnail"
    [ngClass]="{textureActive: houseModelService.selectedFloorTexture === i}"
  >
</div>

<!--Object Placer-->
<div *ngIf="mode === 3" class="p-d-flex p-justify-around">
  <img
    [src]="model.image"
    alt="Model"
    *ngFor="let model of houseModelService.objectModels; let i = index;"
    (click)="houseModelService.selectedObjectModel = i"
    width="64"
    [ngClass]="{textureActive: houseModelService.selectedObjectModel === i}"
  >
</div>

<!--Wall Model-->
<div *ngIf="mode === 4" class="p-d-flex p-justify-center">
  <img
    [src]="model.image"
    alt="Model"
    *ngFor="let model of houseModelService.wallModels; let i = index;"
    (click)="houseModelService.selectedWallModel = i"
    width="64"
    [ngClass]="{textureActive: houseModelService.selectedWallModel === i}"
  >
</div>
