a-scene {
  width: 100%;
  height: 87vh;
}

.textureActive {
  border-color: blue;
  background-color: #234e70;
}

.outline {
  background-color: unset !important;
  color: #234e70 !important;
}

.img-thumbnail {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 2px;
  width: 120px;
}
