<!-- <div class="header-body">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../assets/images/Logo.png"
        class="d-inline-block align-top landing-logo-size"
        alt=""
      />
      <span class="landing-logo-name">Hash Homes</span>
    </a>

    <div
      [ngClass]="{ show: hamburger }"
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <form
        [formGroup]="searchProperty"
        (ngSubmit)="handleSearchProperty()"
        class="row"
      >
          formControlName="state"
          class="col-lg-2 col-md-12 col-sm-12 state"
        >
          <option value="" disabled style="color: grey">State</option>
          <option *ngFor="let state of getStates()" [value]="state">
            {{ state }}
          </option>
        </select> -->
<!-- <img src="../../assets/icons/location-icon.svg" />
        <input
          type="text"
          list="states"
          formControlName="state"
          (input)="searchState($event)"
          class="col-lg-3 col-md-12 col-sm-12 state"
          placeholder="States"
        />
        <datalist id="states">
          <option *ngFor="let state of stateResult" [value]="state"></option>
        </datalist>

         <select
          formControlName="city"
          class="col-lg-2 col-md-12 col-sm-12 city"
        >
          <option value="" disabled style="color: grey">City</option>
          <option *ngFor="let city of getCities()" [value]="city">
            {{ city }}
          </option>
        </select> -->
<!-- <img src="../../assets/icons/location-icon.svg" />
        <input
          type="text"
          list="cities"
          formControlName="city"
          (input)="searchCity($event)"
          class="col-lg-2 col-md-12 col-sm-12 city"
          placeholder="City"
        />
        <datalist id="cities">
          <option *ngFor="let city of cityResult" [value]="city"></option>
        </datalist>

        <img src="../../assets/icons/location-icon.svg" />
        <input
          formControlName="street"
          class="col-lg-2 col-md-12 col-sm-12"
          type="text"
          placeholder="Street"
          style="padding: 0 0 0 0"
        />

        <select
          formControlName="type"
          class="property-type col-lg-2 col-md-12 col-sm-12 dropdown"
        >
          <option value="" disabled style="color: grey" disabled selected>
            Type
          </option>
          <option style="color: black">Home</option>
          <option style="color: black">Flat</option>
          <option style="color: black">Office</option>
        </select>

        <select
          style="cursor: pointer"
          formControlName="budget"
          class="property-budget col-lg-2 col-md-12 col-sm-12 dropdown"
          (click)="toggleSlider($event)"
          (mousedown)="$event.preventDefault()"
        >
          <option value="" disabled style="color: grey" disabled selected>
            Budget
          </option>
        </select>

        <button
          type="submit"
          class="col-lg col-md-12 col-sm-12 btn"
          [disabled]="searchProperty.invalid"
        ></button>

        <ngx-slider
          *ngIf="activeSlider"
          class="slider"
          style="margin-top: 7%"
          class="col-12"
          [(value)]="minPrice"
          [(highValue)]="maxPrice"
          [options]="options"
        ></ngx-slider>
      </form>
      <ng-container *ngIf="!authService.loggedIn">
        <a routerLink="/auth" class="login-button btn btn-danger mr-2">Login</a>
        <a routerLink="/auth" class="signup-button btn btn-outline-danger"
          >Sign up</a
        >
      </ng-container>

      <button
        class="logout-button btn btn-danger mr-2"
        *ngIf="authService.loggedIn"
        (click)="authService.logout()"
      >
        Logout
      </button>

      <img [src]="getSrc()" (click)="uxService.toggleDarkMode()" class="ml-1" />
    </div>
  </nav>
</div> -->

<header class="header">
  <div class="p-grid" style="padding: 0 1% 0 2%">
    <div class="p-col-2">
    <img
      (click)="home()"
      src="/assets/new%20logo.png"
      style="width: 150px !important"

      height="80px"
    />
    </div>
    <div *ngIf="authService.loggedIn" class="p-col-6"></div>
    <div *ngIf="!authService.loggedIn" class="p-col-7"></div>
    <!-- <div class="p-col-2">
      <div>Why HashHomes ?</div>
    </div> -->
      <button
        pButton
        type="button"
        class="p-button-secondary p-button-text p-col-1 btn"
        style="border: 0; border-radius: 0px; margin-top:2%"
        (click)="home()"
      >Home</button>

      <button
        pButton
        type="button"
        class="p-button-secondary p-button-text  p-col-1 btn"
        style="border: 0; border-radius: 0px ;margin-top:2%"
        (click)="design()"
      >Design</button>


     <button
        *ngIf="authService.loggedIn && !authService.user?.isAdministrator"
        style="margin-top: 2%; border: 0; border-radius: 0px;margin-left: -1%;"
        pButton
        type="button"
        class="p-button-secondary p-button-text p-col-1 btn"
        routerLink="/my-profile"
      >Profile</button>

    <button
    *ngIf="authService.loggedIn && authService.user?.isAdministrator" style="margin-top: 2%; border: 0; border-radius: 0px;margin-left: -1%;"
    pButton
    type="button"
    class="p-button-secondary p-button-text p-col-1 btn"
    routerLink="/admin"
     >Listings</button>


      <button
       *ngIf="!authService.loggedIn"
       style="border-color: black; margin-top: 2%;border: 0; border-radius: 0px ;margin-left: -1%; padding-left: 2%;"
        [routerLink]="['/log-in']"
        pButton
        type="button"
        class="p-button-secondary p-button-text p-button-raised p-col-1 button"
      >
        Login
      </button>


      <button
       *ngIf="authService.loggedIn"
       style="border-color: black;;border: 0; border-radius: 0px;margin-top: 2%; margin-left: 1%; padding-left: 2%;"
       (click)="authService.logout()"
        pButton
        type="button"
        class="p-button-secondary p-button-text p-button-raised p-col-1 button"
      >
        Logout
      </button>

    </div>
</header>

<header class="headerrespo">
  <div class="p-grid">
    <img
      (click)="home()"
      src="../../assets/new logo.png"
      style="height: 5rem"
      class="p-col-3"
    />
    <div class="p-col-7"></div>
    <div
      *ngIf="!authService.loggedIn"
      class="p-col-1 btn"
      style="border-color: black; margin-top: 3%"
      [routerLink]="['/log-in']"
    >
      <button
        pButton
        type="button"
        class="p-button-secondary p-button-text p-button-raised"
        style="border: 0; border-radius: 0px"
      >
        Login
      </button>
    </div>
    <div
      *ngIf="authService.loggedIn"
      class="p-col-1 btn"
      style="border-color: black; margin-top: 3%"
      (click)="authService.logout()"
    >
      <button
        pButton
        type="button"
        class="p-button-secondary p-button-text p-button-raised"
        style="border: 0; border-radius: 0px"
      >
        Logout
      </button>
    </div>
  </div>
</header>
