// .header-body {
//   background-color: white;
//   border-style: solid;
//   border-radius: 5px;
//   border-color: white;
//   border-bottom-color: whitesmoke;
// }

// .landing-logo-size {
//   width: 2rem;
//   height: 2rem;
// }

// .landing-logo-name {
//   color: #f37820;
// }

// form {
//   margin-left: 3%;
//   width: 80%;
//   border-style: solid;
//   border-radius: 15px;
//   border-color: #f37820;
//   background-color: white;
//   padding: 5px;
//   input:focus,
//   textarea:focus,
//   select:focus {
//     outline: none;
//   }
//   input {
//     // background-image: url(../../assets/icons/location-icon.svg);
//     background-repeat: no-repeat;
//     background-position-y: center;
//     text-indent: 0%;
//     padding-top: 0;
//     padding-bottom: 0;
//     border-style: solid;
//     border-color: white;
//     // border-right-color:#FBD0B1 ;
//   }

//   select {
//     padding-top: 0;
//     padding-bottom: 0;
//     border-style: solid;
//     border-color: white;
//     // -webkit-appearance: none;
//   }

//   .state,
//   .city {
//     background-image: url(../../assets/icons/location-icon.svg);
//     background-repeat: no-repeat;
//     background-position-y: center;
//     text-indent: 8%;
//     border-style: solid;
//     border-width: 0.15rem;
//     border-color: white;
//   }
//   .property-type {
//     background-image: url(../../assets/icons/apartment_black_24dp.svg);
//     background-repeat: no-repeat;
//     background-position-y: center;
//     text-indent: 8%;
//     color: grey;
//     border-style: solid;
//     border-width: 0.15rem;
//     border-color: white;
//     // border-right-color:#FBD0B1 ;
//   }
//   .property-budget {
//     background-image: url(../../assets/icons/account_balance_wallet_black_24dp.svg);
//     background-repeat: no-repeat;
//     background-position-y: center;
//     text-indent: 8%;
//     color: grey;
//     border-style: solid;
//     border-width: 0.15rem;
//     border-color: white;
//   }
//   button {
//     border-style: solid;
//     border-color: white;
//     background-color: #f37820;
//     border-radius: 15px;
//     width: 100%;
//     color: grey;
//     background-image: url(../../assets/icons/search-icon.svg);
//     background-repeat: no-repeat;
//     background-position: center;
//     text-indent: 20%;
//   }
// }

// .login-button {
//   background: #f37820;
//   width: 5rem;
//   margin-left: 3%;
// }

// .signup-button {
//   border: 1px solid #f37820;
//   color: #f37820;
//   width: 5rem;
// }

// .signup-button:hover {
//   background: #f37820;
//   color: white;
// }

// .logout-button {
//   background: #f37820;
//   width: 7rem;
//   margin-left: 6%;
// }
// @media only screen and (max-width: 850px) {
//   .property-budget {
//     display: none;
//   }
//   ngx-slider{
//     display: none;
//   }
//   form{
//     button{
//        padding-top: 5%;
//       height: 15%;
//     }
//   }
// }

// header{
//   font-family: 'Work Sans', sans-serif;
//   letter-spacing: 0.5px;
//   div{
//     cursor: pointer;
//     div{
//       border-radius: 5px;
//       font-size: medium;
//       :hover{
//         background-color: black;
//         color: white;
//       }
//       div{
//         border-style: solid;
//         border-color: white;
//          margin-top: 20%;
//          text-align:center;
//       }
//       p-dropdown{
//         margin-top: 20%;
//          text-align:center
//       }
//     }
//   }
// }
// button{
//   color: white;
// }
// button:hover{
//   color: white;
//   border-style:solid ;
//   border-color:black ;
// }

header {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.5px;
  div {
    cursor: pointer;
    div {
      // border-radius: 5px;
      // font-size: medium;
      div {
        border-style: solid;
        border-color: white;
        // margin-top: 20%;
        text-align: center;
      }
    }
  }
}
.btn {
  color: #234e70 !important;
  text-align: center !important;
  background-color: white !important;
  height: 5% !important;
  padding-left: 2%;

  // margin-top: 3% !important;
  // margin-left: 2% !important;
}

.button{

  text-align: center !important;
  background-color: #234e70 !important;
  height: 5% !important;
}

.btn:hover{
  color: #fbf8be !important;
  background-color: #234e70 !important;
  border-style: solid;
  border-color: black ;
}

.button:hover {
  background-color:  #fbf8be !important;
  color: #234e70 !important;
}


@media screen and (max-width:850px) {

  .header{
    display: none;
  }
  .headerrespo{
    display:block;
  }

}

@media screen and (min-width:850px) {

  .header{
    display: block;
  }
  .headerrespo{
    display:none;
  }

}


@media screen and (max-width:850px) {

  .header{
    display: none;
  }
  .headerrespo{
    display:block;
  }

}

@media screen and (min-width:850px) {

  .header{
    display: block;
  }
  .headerrespo{
    display:none;
  }

}

@media screen and (max-width:600px) {

  .btn{
    margin-left: -10%;
  }

}
